.display-3{
    font-family:'Sacramento', cursive;
    animation: fadein 2s;
    color:var(--main-txt-color);
}
:root{
    --main-bg-color:#0B3954;
    --main-el-color:#087E8B;
    --main-txt-color:#BFD7EA;
    --main-accent-color:#FF5A5F;

}
* {
    background-color: var(--main-bg-color) !important ;
    color: var(--main-txt-color);
    font-family: 'Roboto', sans-serif;

}
a:link, a:visited{
  color:var(--main-txt-color);
}
.navbar{
    background-color:var(--main-bg-color);
    --main-txt-color:#BFD7EA;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

justified{
    text-align:justify;
    text-justify:auto
}
